h1{
    font-size: 25px;
    text-align: center;
}
body{
    background: #fff color #333;
    font-family: arial;
}
#box{
    position: fixed;
    left: 30%;
    border-radius: 8px;
    background: white;
    width: 200px;
    margin: 15px auto;
    padding: 20px 40px;
    display: block;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 20px #ddd;
}
body input {
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    width: 95%;
    border: 1px solid#ddd;
}
body input:focus{
    border-color: aqua;
    outline: none;
}
body button{
    background: #07acec;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    border:none;
}